<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row class="text-center">
        <v-col cols="12">
          <MyShoppingLists />
        </v-col>
      </v-row>
      <v-row />
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MyShoppingLists from '@/components/MyShoppingLists.vue';
@Component({
  components: { MyShoppingLists },
})
export default class HomePage extends Vue {}
</script>
