<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row class="text-center">
        <v-col cols="2" class="mt-4">
          <v-btn color="buttonPrimary" dark @click="goToHome">
            <v-icon class="mr-2">
              mdi-arrow-left-bold-box
            </v-icon>
            {{ `Go back` }}
          </v-btn>
        </v-col>
        <v-col>
          <DoneItemsSwitch />
          <SearchField />
          <div v-for="(item, index) in items" :key="`${item.name}-${index}`">
            <ShoppingItem :item="item" />
          </div>
        </v-col>
      </v-row>
      <v-row />
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MyShoppingLists from '@/components/MyShoppingLists.vue';
import ShoppingModule from '@/store/modules/shoppingModule';
import SearchField from '@/components/SearchField.vue';
import ShoppingItem from '@/components/ShoppingItem.vue';
import Paths from '@/constants/Paths';
import DoneItemsSwitch from '@/components/DoneItemsSwitch.vue';
@Component({
  components: { DoneItemsSwitch, ShoppingItem, SearchField, MyShoppingLists },
})
export default class HomePage extends Vue {
  private get items() {
    return ShoppingModule.allItemsView;
  }
  private goToHome() {
    this.$router.push(Paths.HOME);
  }
}
</script>