<template>
  <v-row>
    <v-col cols="1">
      <v-btn color="buttonPrimary" dark @click="$emit('click', $event)">
        <v-icon class="mr-2">
          mdi-plus
        </v-icon>
        <span>
          {{ label }}
        </span>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class AddButton extends Vue {
  @Prop()
  private readonly label!: string;
}
</script>