<template>
  <v-dialog v-model="dialog" max-width="290">
    <v-card>
      <v-card-title class="text-h5">
        {{ `Delete list` }}
      </v-card-title>

      <v-card-text>
        {{ `Are you sure to delete this list and all its items?` }}
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primaryButton" text @click="confirm">
          {{ `Yes` }}
        </v-btn>
        <v-btn color="cancelButton" text @click="cancel">
          {{ `No` }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ConfirmDialog extends Vue {
  private dialog = false;
  private object: any = null;

  public openDialog(object: any) {
    this.object = object;
    this.dialog = true;
  }

  private cancel() {
    this.dialog = false;
  }

  private confirm(callback: () => void) {
    this.$emit('confirm', this.object);
    this.dialog = false;
  }
}
</script>