<template>
  <v-row class="mt-n2">
    <v-col>
      <v-switch
        label="Show only done"
        color="buttonPrimary"
        :value="onlyDoneItems"
        @change="onOnlyDoneItemsInput"
        hide-details
      ></v-switch>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ShoppingModule from '@/store/modules/shoppingModule';

@Component
export default class DoneItemsSwitch extends Vue {
  private get onlyDoneItems() {
    return ShoppingModule.onlyDoneItemsValue;
  }

  private onOnlyDoneItemsInput(value: boolean) {
    ShoppingModule.filterOnlyDoneItems(value);
  }
}
</script>