<template>
  <v-container>
    <v-row justify="center">
      <v-row>
        <v-col>
          <AddButton label="New shopping list" @click="addList" />
        </v-col>
        <v-col>
          <DoneItemsSwitch />
        </v-col>
        <v-col>
          <SearchField />
        </v-col>
        <v-col class="text-right">
          <OpenSearchOnlyButton />
        </v-col>
      </v-row>
      <v-expansion-panels accordion multiple :value="allListsExpanded">
        <div v-if="shoppingListsView.length === 0" class="mt-10">
          <img class="app-logo" src="@/assets/grinch.png" />
          <h1 class="mt-6">
            {{ `All done` }}
          </h1>
        </div>
        <v-expansion-panel
          v-else
          v-for="list in shoppingListsView"
          :key="list.id"
          class="my-3"
        >
          <v-expansion-panel-header class="headline">
            {{ list.name }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ShoppingList :shoppingList="list"></ShoppingList>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ShoppingItem from '@/components/ShoppingItem.vue';
import ShoppingList from '@/components/ShoppingList.vue';
import ShoppingModule from '@/store/modules/shoppingModule';
import AddButton from '@/components/AddButton.vue';
import SearchField from '@/components/SearchField.vue';
import OpenSearchOnlyButton from '@/components/OpenSearchOnlyButton.vue';
import DoneItemsSwitch from '@/components/DoneItemsSwitch.vue';

@Component({
  components: {
    DoneItemsSwitch,
    OpenSearchOnlyButton,
    SearchField,
    AddButton,
    ShoppingList,
    ShoppingItem,
  },
})
export default class MyShoppingLists extends Vue {
  private get shoppingListsView() {
    return ShoppingModule.shoppingListsView;
  }

  private addList() {
    ShoppingModule.addList();
  }

  private get allListsExpanded() {
    return this.shoppingListsView.map((list, index) => index);
  }
}
</script>