<template>
  <v-row>
    <v-col>
      <v-btn color="buttonPrimary" dark @click="goToSearch">
        {{ `Open search only` }}
        <v-icon class="ml-2">
          mdi-arrow-right-bold-box
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Paths from '@/constants/Paths';

@Component
export default class OpenSearchOnlyButton extends Vue {
  private goToSearch() {
    this.$router.push(Paths.SEARCH);
  }
}
</script>