<template>
  <v-text-field
    :value="filter"
    @input="onSearch"
    label="Search items"
    hide-details="auto"
    class="mb-4"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ShoppingModule from '@/store/modules/shoppingModule';

@Component
export default class SearchButton extends Vue {
  private get filter() {
    return ShoppingModule.searchValue;
  }

  private onSearch(value: string) {
    ShoppingModule.search(value);
  }
}
</script>