<template>
  <div class="d-flex flex-row">
    <v-checkbox
      color="buttonCancel"
      :value="item.done"
      @change="updateDoneStatus"
      hide-details
    />
    <div
      v-if="item.done"
      class="pt-5 text-decoration-line-through text-left"
      style="width: 100%"
    >
      {{ item.name }}
    </div>
    <v-text-field
      v-else
      :value="item.name"
      @input="updateName"
      label="Shopping item"
      hide-details="auto"
    />
    <v-btn color="buttonCancel" icon @click="removeItem" class="mt-3">
      <v-icon class="mr-2">
        mdi-delete
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { debounce } from 'lodash';
import { Component, Prop, Vue } from 'vue-property-decorator';
import ShoppingItemDto from '@/models/ShoppingItemDto';
import AddButton from '@/components/AddButton.vue';
import ShoppingModule from '@/store/modules/shoppingModule';

@Component({
  components: { AddButton },
})
export default class ShoppingItem extends Vue {
  @Prop()
  private readonly item!: ShoppingItemDto;

  private removeItem() {
    ShoppingModule.removeItem(this.item);
  }

  private updateNameDebounce = debounce((value: string) => {
    ShoppingModule.updateItem({ ...this.item, name: value });
  }, 500);

  private updateName(value: string) {
    this.updateNameDebounce(value);
  }

  private updateDoneStatus(value: boolean) {
    ShoppingModule.updateItem({ ...this.item, done: value });
  }
}
</script>