<template>
  <div>
    <v-text-field
      v-model="shoppingList.name"
      label="Shopping list"
      hide-details="auto"
      class="mb-4"
      clearable
    />
    <AddButton label="New item" @click="addItem" />
    <v-card class="pa-4 my-4">
      <v-row>
        <v-col>
          <div v-for="(item, index) in items" :key="`${item.name}-${index}`">
            <ShoppingItem :item="item" />
          </div>
        </v-col>
      </v-row>
    </v-card>
    <v-btn
      color="buttonCancel"
      dark
      class="mt-3"
      @click="removeList(shoppingList)"
    >
      <v-icon class="mr-2">
        mdi-delete
      </v-icon>
      {{ `Delete list` }}
    </v-btn>
    <ConfirmDialog ref="confirmDialog" @confirm="onRemovalConfirm" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Provide, Ref, Vue } from 'vue-property-decorator';
import AddButton from '@/components/AddButton.vue';
import ShoppingListDto from '@/models/ShoppingListDto';
import ShoppingItem from '@/components/ShoppingItem.vue';
import ShoppingModule from '@/store/modules/shoppingModule';
import DialogInterface from '@/models/DialogInterface';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

@Component({
  components: { ConfirmDialog, ShoppingItem, AddButton },
})
export default class ShoppingList extends Vue {
  @Prop()
  private readonly shoppingList!: ShoppingListDto;

  @Ref()
  private confirmDialog!: DialogInterface;

  @Provide()
  private get items() {
    return this.shoppingList?.items ?? [];
  }

  private addItem() {
    ShoppingModule.addItem(this.shoppingList);
  }

  private removeList(list: ShoppingListDto) {
    this.confirmDialog.openDialog(list);
  }
  private onRemovalConfirm(list: ShoppingListDto) {
    ShoppingModule.removeList(list);
  }
}
</script>