<template>
  <v-app>
    <RouterView />
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ShoppingModule from '@/store/modules/shoppingModule';

@Component
export default class App extends Vue {
  protected created() {
    ShoppingModule.initModule();
  }
}
</script>