<template>
  <v-main>
    <v-app-bar app color="systemPrimary" dark>
      <v-row style="max-height: 100%" class="align-center">
        <v-col
          cols="auto"
          v-if="!$vuetify.breakpoint.xsOnly"
          style="border-right: 2px solid white; text-align: center;"
          class="pa-0"
        >
          <div
            style="display: inline-block; height: 100%; vertical-align: middle;"
          >
            <img class="app-logo" src="@/assets/grinch.png" />
          </div>
        </v-col>
        <v-col>
          <v-toolbar-title class="text-uppercase font-weight-bold">
            {{ `Your shopping lists` }}
          </v-toolbar-title>
        </v-col>
      </v-row>
    </v-app-bar>
    <router-view />
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AppLayout extends Vue {}
</script>

<style scoped>
.app-logo {
  margin-left: 10px;
  margin-right: 25px;
  max-height: 57px;
  width: auto;
  height: auto;
  vertical-align: middle;
}
</style>
